html, body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    background-color: #141332;
    color: #FFF;
    height: 100%;
}

#root {
    display: flex;
    flex: 1;
    height: 100%;
}

#navbar {
    height: 100%;
    background-color: brown;
    flex: 0.75;
    background: #1D1D41;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: aqua;
    flex: 4;
    background: #141332;
    border-radius: 20px;
    padding: 2vw;
}

#navbar-title-container {
    display: flex;
    margin-top: 2vh;
}

#navbar-title {
    margin: 10px 0px 10px 20px;
}

#navbar-title-logo {
    width: 30px;
    height: 30px;
    margin: 15px 0px 10px 10px;
}

.navbar-list {
    text-align: start;
    list-style: none;
    width: 170px;
    padding: 0;
    margin-left: 20px;
}

.navbar-list li {
    border-radius: 8px;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.link p {
    margin: 0;
    color: #FFF;
}

.navbar-list li:hover {
    font-size: 17px;
    background-color: #6359E9;
}

.navbar-li-logo {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

#navbar-logout {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 25px;
    width: 150px;
    margin-right: auto;
}

#navbar-logout p {
   margin: 0;
}

#navbar-logout:hover {
    font-size: 17px;
    background-color: #6359E9;
    padding-left: 10px;
}

#dashboard-welcome {
    display: flex;
}

#dashboard-welcome h2 {
    margin-bottom: 0;
    margin-top: 0;
}

#dashboard-welcome-subtitle {
    color: #A6A6A6;
    font-size: 15px;
    margin-top: 0;
}

#dashboard-welcome-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.main-dashboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns with equal width */
    grid-template-rows: auto auto; /* 2 rows with auto height */
    gap: 20px; /* Adjust the gap as needed */
}

.dashboard-total {
    margin: 30px 0px 0px 0px;
    border-radius: 15px;
    background: #1D1D41;
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: center;
}

.dashboard-total-text {
    margin-left: 10px;
}

.dashboard-total img {
    width: 40px;
    height: 40px;
}

.dashboard-total-title {
    color: #8C89B4;
    font-size: 14px;
    margin-bottom: 0px;
}

.dashboard-total-sum {
    margin-top: 0px;
}

.circle {
    stroke: #4cc790;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
  
.percentage-text {
    font-size: 0.3em;
    font-family: 'DM Sans', sans-serif;
    fill: #4cc790;
}
  
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}

#dashboard-percentage-chart {
    background: #1D1D41;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    max-height: 60vh;
    padding: 2vh;
}

#dashboard-percentage-chart p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
}

#dashboard-percentage-chart svg {
    margin: 10px;
}

#transaction-box {
    background: #1D1D41;
    border-radius: 15px;
    padding: 5vh;
    padding-top: 2vh;
    grid-column: span 3;
    height: 57vh;
 }

 .transaction {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.4rem;
 }

 .transaction-table {
    max-height: 10vh;
    overflow: hidden; 
    overflow-y: scroll;
 }

 .tr-table-element {
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px 0 10px 5px;
 }

 table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.3rem; /* Adjust the vertical and horizontal spacing as needed */
  }

  thead tr {
    font-size: 1.3rem;
    color: #AEABD8;
  }

  .modal {
    position: absolute;
    top: 25vh;
    left: 25vw;
    right: 25vw;
    bottom: 25vh;
    backdrop-filter: blur(16px);
    border-radius: 15px;
    border: 1px solid black;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  thead, tbody { display: block; }

  tbody {
      max-height: 36vh;
      overflow-y: auto;    /* Trigger vertical scroll    */
      overflow-x: hidden;  /* Hide the horizontal scroll */
  }

  th {
    padding-left: 3vw;
    padding-right: 3vw;
  }
 
  td {
    padding-left: 3vw;
    padding-right: 3vw;
  }